@import "@unocss/reset/tailwind.css";
@unocss all;

@font-face {
  font-family: 'HKS';
  src: url('/HKS.otf') format('opentype');
}

.font-japan {
  font-family: 'HKS';
}

.leading-sm {
  line-height: 4.5rem;
}
